@import './base.css';

#app {
    min-height: 100dvh;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    display: block;
    background: var(--c-primary);
    padding: 5px 14px;
    color: white;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
}